$font-header: 'Oswald', sans-serif;
$font-text: 'Lato', sans-serif;


.home-wrapper {
  padding: ($base-size * 3) 0;
}

.segment {
  padding: 40px 0;

  a {
    text-decoration: none;
    color: white;
  }
}
/* MAIN MENU STYLES */

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  .menu-element {
    flex: 1 1 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    position: relative;
    border-radius: 10px;

    .element-image {
      height: 100%;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    .overlay {
      position: absolute;
      color: white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: top 0.5s;

      h1 {
        font-family: $font-header;
        font-size: 26px;
        font-weight: $font-semibold;
        text-transform: uppercase;
      }
    }

  }

  .small:hover .overlay {
    top: 30%;
  }

  /* SMALL BLOCK TRANSITION - stripe appears */

  .small {
    overflow: hidden;
  }

  .small::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0;
    background: $color-main;
    left: 0;
    bottom: 0;
    transition: 0.5s;
  }

  .small:hover::after {
    height: 20px;
    transform: scale(1,1);
  }

  /* BIG BLOCK TRANSITION - text underline */

  .big {
    background-color: $color-main;

    p, h1 {
      margin: 0;
    }

    .overlay {
      display: flex;
      justify-content: center;
      text-align: center;
      flex-direction: column;
    }

    .overlay::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 3px;
      background: white;
      left: 0;
      bottom: -5px;
      transform: scale(0,1);
      transition: 0.3s;
    }
  }

  .big:hover .overlay::after {
    transform: scale(1,1);
  }

}
/* MAIN MENU STYLES END */

/* CAROUSEL STYLES */

.main-carousel {
  .flickity-page-dots {
    position: relative;
    padding-top: 20px;
    bottom: 0;
  }

  button {
    display: none;
  }

  .flickity-viewport {
    height: 200px;
  }

  .carousel-cell {
    border-radius: 5px;
    counter-increment: gallery-cell;
    display: flex;
    width: 100%;
    height: 100%;
    margin-right: 40px;

    .carousel-image {
      padding-right: 20px;
      flex: 50%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    .carousel-text {
      padding-left: 20px;
      flex: 50%;

      p {
        text-align: justify;
      }

      span {
        font-weight: 700;
      }
    }
  }
}

/* GALLERY STYLES */

.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  .gallery-element {
    flex: 1 1 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;

    .gallery-image {
      height: 100%;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    .options {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0,0,0, 0.6);
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity 0.7s;

      i {
        font-size: 26px;
        padding: 5px;
        color: white;
        transition: 0.5s;
      }
    }

    .options:hover {
      opacity: 1;
    }

    i:hover {
      color: $color-main;
      cursor: pointer;
    }
  }
}

/* GALLERY STYLES END */

/* FOOTER STYLES */

footer {
  i {
    font-size: 30px;
    color: $color-main;
  }
}
